<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="entrepreneurialcenter.office.dao.MaintainApplyMapper" >
  <resultMap id="BaseResultMap" type="entrepreneurialcenter.office.pojo.MaintainApply" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="maintain_name" property="maintainName" jdbcType="VARCHAR" />
    <result column="maintain_phone" property="maintainPhone" jdbcType="VARCHAR" />
    <result column="maintain_address" property="maintainAddress" jdbcType="VARCHAR" />
    <result column="maintain_class" property="maintainClass" jdbcType="VARCHAR" />
    <result column="maintain_img" property="maintainImg" jdbcType="VARCHAR" />
    <result column="maintain_content" property="maintainContent" jdbcType="VARCHAR" />
    <result column="maintain_check" property="maintainCheck" jdbcType="INTEGER" />
    <result column="maintain_create" property="maintainCreate" jdbcType="DATE" />
    <result column="maintain_update" property="maintainUpdate" jdbcType="DATE" />
    <result column="front_id" property="frontId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, maintain_name, maintain_phone, maintain_address, maintain_class, maintain_img, 
    maintain_content, maintain_check, maintain_create, maintain_update, front_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="entrepreneurialcenter.office.pojo.MaintainApplyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from maintain_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from maintain_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from maintain_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="entrepreneurialcenter.office.pojo.MaintainApplyExample" >
    delete from maintain_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entrepreneurialcenter.office.pojo.MaintainApply" >
    insert into maintain_apply (id, maintain_name, maintain_phone, 
      maintain_address, maintain_class, maintain_img, 
      maintain_content, maintain_check, maintain_create, 
      maintain_update, front_id)
    values (#{id,jdbcType=INTEGER}, #{maintainName,jdbcType=VARCHAR}, #{maintainPhone,jdbcType=VARCHAR}, 
      #{maintainAddress,jdbcType=VARCHAR}, #{maintainClass,jdbcType=VARCHAR}, #{maintainImg,jdbcType=VARCHAR}, 
      #{maintainContent,jdbcType=VARCHAR}, #{maintainCheck,jdbcType=INTEGER}, #{maintainCreate,jdbcType=DATE}, 
      #{maintainUpdate,jdbcType=DATE}, #{frontId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="entrepreneurialcenter.office.pojo.MaintainApply" >
    insert into maintain_apply
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="maintainName != null" >
        maintain_name,
      </if>
      <if test="maintainPhone != null" >
        maintain_phone,
      </if>
      <if test="maintainAddress != null" >
        maintain_address,
      </if>
      <if test="maintainClass != null" >
        maintain_class,
      </if>
      <if test="maintainImg != null" >
        maintain_img,
      </if>
      <if test="maintainContent != null" >
        maintain_content,
      </if>
      <if test="maintainCheck != null" >
        maintain_check,
      </if>
      <if test="maintainCreate != null" >
        maintain_create,
      </if>
      <if test="maintainUpdate != null" >
        maintain_update,
      </if>
      <if test="frontId != null" >
        front_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="maintainName != null" >
        #{maintainName,jdbcType=VARCHAR},
      </if>
      <if test="maintainPhone != null" >
        #{maintainPhone,jdbcType=VARCHAR},
      </if>
      <if test="maintainAddress != null" >
        #{maintainAddress,jdbcType=VARCHAR},
      </if>
      <if test="maintainClass != null" >
        #{maintainClass,jdbcType=VARCHAR},
      </if>
      <if test="maintainImg != null" >
        #{maintainImg,jdbcType=VARCHAR},
      </if>
      <if test="maintainContent != null" >
        #{maintainContent,jdbcType=VARCHAR},
      </if>
      <if test="maintainCheck != null" >
        #{maintainCheck,jdbcType=INTEGER},
      </if>
      <if test="maintainCreate != null" >
        #{maintainCreate,jdbcType=DATE},
      </if>
      <if test="maintainUpdate != null" >
        #{maintainUpdate,jdbcType=DATE},
      </if>
      <if test="frontId != null" >
        #{frontId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entrepreneurialcenter.office.pojo.MaintainApplyExample" resultType="java.lang.Integer" >
    select count(*) from maintain_apply
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update maintain_apply
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.maintainName != null" >
        maintain_name = #{record.maintainName,jdbcType=VARCHAR},
      </if>
      <if test="record.maintainPhone != null" >
        maintain_phone = #{record.maintainPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.maintainAddress != null" >
        maintain_address = #{record.maintainAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.maintainClass != null" >
        maintain_class = #{record.maintainClass,jdbcType=VARCHAR},
      </if>
      <if test="record.maintainImg != null" >
        maintain_img = #{record.maintainImg,jdbcType=VARCHAR},
      </if>
      <if test="record.maintainContent != null" >
        maintain_content = #{record.maintainContent,jdbcType=VARCHAR},
      </if>
      <if test="record.maintainCheck != null" >
        maintain_check = #{record.maintainCheck,jdbcType=INTEGER},
      </if>
      <if test="record.maintainCreate != null" >
        maintain_create = #{record.maintainCreate,jdbcType=DATE},
      </if>
      <if test="record.maintainUpdate != null" >
        maintain_update = #{record.maintainUpdate,jdbcType=DATE},
      </if>
      <if test="record.frontId != null" >
        front_id = #{record.frontId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update maintain_apply
    set id = #{record.id,jdbcType=INTEGER},
      maintain_name = #{record.maintainName,jdbcType=VARCHAR},
      maintain_phone = #{record.maintainPhone,jdbcType=VARCHAR},
      maintain_address = #{record.maintainAddress,jdbcType=VARCHAR},
      maintain_class = #{record.maintainClass,jdbcType=VARCHAR},
      maintain_img = #{record.maintainImg,jdbcType=VARCHAR},
      maintain_content = #{record.maintainContent,jdbcType=VARCHAR},
      maintain_check = #{record.maintainCheck,jdbcType=INTEGER},
      maintain_create = #{record.maintainCreate,jdbcType=DATE},
      maintain_update = #{record.maintainUpdate,jdbcType=DATE},
      front_id = #{record.frontId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entrepreneurialcenter.office.pojo.MaintainApply" >
    update maintain_apply
    <set >
      <if test="maintainName != null" >
        maintain_name = #{maintainName,jdbcType=VARCHAR},
      </if>
      <if test="maintainPhone != null" >
        maintain_phone = #{maintainPhone,jdbcType=VARCHAR},
      </if>
      <if test="maintainAddress != null" >
        maintain_address = #{maintainAddress,jdbcType=VARCHAR},
      </if>
      <if test="maintainClass != null" >
        maintain_class = #{maintainClass,jdbcType=VARCHAR},
      </if>
      <if test="maintainImg != null" >
        maintain_img = #{maintainImg,jdbcType=VARCHAR},
      </if>
      <if test="maintainContent != null" >
        maintain_content = #{maintainContent,jdbcType=VARCHAR},
      </if>
      <if test="maintainCheck != null" >
        maintain_check = #{maintainCheck,jdbcType=INTEGER},
      </if>
      <if test="maintainCreate != null" >
        maintain_create = #{maintainCreate,jdbcType=DATE},
      </if>
      <if test="maintainUpdate != null" >
        maintain_update = #{maintainUpdate,jdbcType=DATE},
      </if>
      <if test="frontId != null" >
        front_id = #{frontId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entrepreneurialcenter.office.pojo.MaintainApply" >
    update maintain_apply
    set maintain_name = #{maintainName,jdbcType=VARCHAR},
      maintain_phone = #{maintainPhone,jdbcType=VARCHAR},
      maintain_address = #{maintainAddress,jdbcType=VARCHAR},
      maintain_class = #{maintainClass,jdbcType=VARCHAR},
      maintain_img = #{maintainImg,jdbcType=VARCHAR},
      maintain_content = #{maintainContent,jdbcType=VARCHAR},
      maintain_check = #{maintainCheck,jdbcType=INTEGER},
      maintain_create = #{maintainCreate,jdbcType=DATE},
      maintain_update = #{maintainUpdate,jdbcType=DATE},
      front_id = #{frontId,jdbcType=BIGINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>