<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="entrepreneurialcenter.office.dao.ProBuildingsMapper" >
  <resultMap id="BaseResultMap" type="entrepreneurialcenter.office.pojo.ProBuildings" >
    <id column="building_id" property="buildingId" jdbcType="BIGINT" />
    <result column="building_title" property="buildingTitle" jdbcType="VARCHAR" />
    <result column="region_id" property="regionId" jdbcType="BIGINT" />
    <result column="building_status" property="buildingStatus" jdbcType="CHAR" />
    <result column="updated" property="updated" jdbcType="INTEGER" />
    <result column="created" property="created" jdbcType="INTEGER" />
  </resultMap>
  
  <resultMap id="ResultProBuiReg" type="entrepreneurialcenter.office.pojo.impl.ProBuiReg" >
    <id column="building_id" property="buildingId" jdbcType="BIGINT" />
    <result column="building_title" property="buildingTitle" jdbcType="VARCHAR" />
    <result column="region_title" property="regionTitle" jdbcType="VARCHAR" />
    <result column="region_id" property="regionId" jdbcType="BIGINT" />
  </resultMap>
  
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    building_id, building_title, region_id, building_status, updated, created
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="entrepreneurialcenter.office.pojo.ProBuildingsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pro_buildings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pro_buildings
    where building_id = #{buildingId,jdbcType=BIGINT}
  </select>
  
  <select id="selectProBuiReg" resultMap="ResultProBuiReg" >
  	SELECT bui.building_id,bui.building_title,reg.region_title,reg.region_id
	FROM pro_regions AS reg,pro_buildings AS bui
	WHERE bui.region_id=reg.region_id
	ORDER BY bui.created
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pro_buildings
    where building_id = #{buildingId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="entrepreneurialcenter.office.pojo.ProBuildingsExample" >
    delete from pro_buildings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="entrepreneurialcenter.office.pojo.ProBuildings" >
    insert into pro_buildings (building_id, building_title, region_id, 
      building_status, updated, created
      )
    values (#{buildingId,jdbcType=BIGINT}, #{buildingTitle,jdbcType=VARCHAR}, #{regionId,jdbcType=BIGINT}, 
      #{buildingStatus,jdbcType=CHAR}, #{updated,jdbcType=INTEGER}, #{created,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="entrepreneurialcenter.office.pojo.ProBuildings" >
    insert into pro_buildings
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="buildingId != null" >
        building_id,
      </if>
      <if test="buildingTitle != null" >
        building_title,
      </if>
      <if test="regionId != null" >
        region_id,
      </if>
      <if test="buildingStatus != null" >
        building_status,
      </if>
      <if test="updated != null" >
        updated,
      </if>
      <if test="created != null" >
        created,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="buildingId != null" >
        #{buildingId,jdbcType=BIGINT},
      </if>
      <if test="buildingTitle != null" >
        #{buildingTitle,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null" >
        #{regionId,jdbcType=BIGINT},
      </if>
      <if test="buildingStatus != null" >
        #{buildingStatus,jdbcType=CHAR},
      </if>
      <if test="updated != null" >
        #{updated,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        #{created,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="entrepreneurialcenter.office.pojo.ProBuildingsExample" resultType="java.lang.Integer" >
    select count(*) from pro_buildings
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pro_buildings
    <set >
      <if test="record.buildingId != null" >
        building_id = #{record.buildingId,jdbcType=BIGINT},
      </if>
      <if test="record.buildingTitle != null" >
        building_title = #{record.buildingTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.regionId != null" >
        region_id = #{record.regionId,jdbcType=BIGINT},
      </if>
      <if test="record.buildingStatus != null" >
        building_status = #{record.buildingStatus,jdbcType=CHAR},
      </if>
      <if test="record.updated != null" >
        updated = #{record.updated,jdbcType=INTEGER},
      </if>
      <if test="record.created != null" >
        created = #{record.created,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pro_buildings
    set building_id = #{record.buildingId,jdbcType=BIGINT},
      building_title = #{record.buildingTitle,jdbcType=VARCHAR},
      region_id = #{record.regionId,jdbcType=BIGINT},
      building_status = #{record.buildingStatus,jdbcType=CHAR},
      updated = #{record.updated,jdbcType=INTEGER},
      created = #{record.created,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="entrepreneurialcenter.office.pojo.ProBuildings" >
    update pro_buildings
    <set >
      <if test="buildingTitle != null" >
        building_title = #{buildingTitle,jdbcType=VARCHAR},
      </if>
      <if test="regionId != null" >
        region_id = #{regionId,jdbcType=BIGINT},
      </if>
      <if test="buildingStatus != null" >
        building_status = #{buildingStatus,jdbcType=CHAR},
      </if>
      <if test="updated != null" >
        updated = #{updated,jdbcType=INTEGER},
      </if>
      <if test="created != null" >
        created = #{created,jdbcType=INTEGER},
      </if>
    </set>
    where building_id = #{buildingId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="entrepreneurialcenter.office.pojo.ProBuildings" >
    update pro_buildings
    set building_title = #{buildingTitle,jdbcType=VARCHAR},
      region_id = #{regionId,jdbcType=BIGINT},
      building_status = #{buildingStatus,jdbcType=CHAR},
      updated = #{updated,jdbcType=INTEGER},
      created = #{created,jdbcType=INTEGER}
    where building_id = #{buildingId,jdbcType=BIGINT}
  </update>
</mapper>